@model MvcGolfScorecardApp.Models.AdvancedStats

@{
    ViewData["Title"] = "Advanced Stats";

    ViewBag.HeaderTitle = "Advanced Stats";
    ViewBag.HeaderBackButtonUrl = "Scorecard";
}

<partial name="HeaderWithBackButtonPartial" />


<section class="advancedstats">
    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.AverageScorePar3)</legend>
        <h3>@(Model.AverageScorePar3 == 0 ? "N/A" : Model.AverageScorePar3.ToString())</h3>
    </fieldset>


    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.AverageScorePar4)</legend>
        <h3>@(Model.AverageScorePar4 == 0 ? "N/A" : Model.AverageScorePar4.ToString())</h3>
    </fieldset>


    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.AverageScorePar5)</legend>
        <h3>@(Model.AverageScorePar5 == 0 ? "N/A" : Model.AverageScorePar5.ToString())</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfStrokes)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfStrokes)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.BestScore18Holes)</legend>
        <h3>@Html.DisplayFor(model => model.BestScore18Holes)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfPars)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfPars)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfBirdies)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfBirdies)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfEagles)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfEagles)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfHoleInOnes)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfHoleInOnes)</h3>
    </fieldset>

</section

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
